
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceSolution.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServiceSolution.Web.styles.css" asp-append-version="true" />
</head>


<h2>Layout2 Header</h2>

<div class="container">
	@RenderBody()
</div>

<h2>Footer</h2>
